@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&family=Roboto+Mono:wght@100&family=Twinkle+Star&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Prata', serif;
    background: #ede8e2;
    display: flex;
    height: 100vh;
    
}

.grid{
    background: #BCC7D3;
    height: 90vh;
    width: 90%;
    max-width: 1200px;
    margin-top: 15px;
    margin: auto;
    box-shadow: 0 0 30px -10px rgb(138, 135, 135, 0.5);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    overflow: hidden;  
}

.grid::before {
    content: '';
    grid-column: 4/-1;
    grid-row: 1/-1;
    background-image: url('../../../public/assets/landing.png');
    background-size: cover;
    background-position: right top;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    animation: show 2s ease forwards;
}

.grid__texts{
    color: white;
    grid-row: 2/-2;
    grid-column: 2/8;
    z-index: 1;
}

.grid__title{
    font-size: 4rem;
}

@keyframes show {
    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}